<h1>Recycle 101</h1>
<options></options>
<input type="checkbox" id="material1" name="material1" value="All-materials">
<label for="material1"> All Materials </label>

<input type="checkbox" id="material2" name="material2" value="Plastic">
<label for="material2"> Plastic </label>

<input type="checkbox" id="material3" name="material3" value="PaperCardboard">
<label for="material3"> Paper & Cardboard </label>

<input type="checkbox" id="material4" name="material4" value="Glass">
<label for="material4"> Glasses </label>

<input type="checkbox" id="material5" name="material5" value="Metal">
<label for="material5"> Metal </label>

<input type="checkbox" id="material6" name="material6" value="Others">
<label for="material6"> Others </label>

<footer>Figma link: https://www.figma.com/file/QAe8RUlNo5psMHOuIz3cuu/Recycle_101?node-id=0%3A1</footer>